:root {
    --accent: #f0746d;
    --shadow: #fafafa;
    --twitter: #1d9bf0;
    --font-family: 'Martian Mono', monospace;
    --font-size: 9pt;
    --bg: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: white;
        --text-color: black;
    }
  }

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #202020;
        --text-color: white;
    }
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::selection {
    color: var(--text-color);
    background: var(--accent);
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg);
    line-height: 1.7;
    animation: fadeIn 1s;
    display: flex;
    word-break: break-word;
    align-items: flex-start;
    -webkit-font-smoothing: antialiased
}

main {
    flex: 2;
}

main:before {
    background-image: url('/divider.png');
    image-rendering: pixelated;
    width: 100%;
    display: block;
    aspect-ratio: 985/226;
    margin: 16px 0;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

aside ul {
    list-style: none;
}

a {
    color: var(--accent);
}

pre,
code,
.date {
    font-family: 'Martian Mono', monospace;
}

pre {
    counter-reset: lineNumber;
}

code .highlight-line:before {
    -webkit-user-select: none;
    color: #93a1a1;
    content: counter(lineNumber);
    counter-increment: lineNumber;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin-right: 1.2em;
    padding-right: 1.2em;
    text-align: right;
    width: 2.4em;
}

@media (orientation: landscape) {
    body {
        width: 66vw;
        padding: 7rem 0;
        flex-direction: row;
        gap: 64px;
        margin: 0px calc(50vw - 2 * (66vw - 64px) / 3 - 64px);
    }

    aside {
        flex: 1;
        position: sticky;
        top: calc(226/985 * (44vw + 24px) + 7rem + 4px);
        text-align: right;
    }

    .navbar ul {
        padding: 0 20px;
    }

    .item {
        min-width: calc(50% - 8px);
        padding: 16px;
    }
    .projects {
        gap: 16px;

    }
}

@media (orientation: portrait) {
    body {
        font-size: 0.6rem;
        width: 85vw;
        padding: 4rem 0;
        flex-direction: column;
        margin: 0px auto;
    }

    main {
        width: 100%;
    }

    aside ul {
        display: flex;
        gap: 16px;
        padding: 0;
    }

    .navbar {
        padding: 0 calc((100vw - 85vw) / 2);
    }

    .item {
        min-width: 100%;
    }
    
}


.navbar {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 9999;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-weight: 600;
    gap: 20px;
    padding: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    box-sizing: border-box;
}

.demo {
    width: 100%;
    border-radius: 3px;
    aspect-ratio: 1.7;
    object-fit: cover;
}

ul {
    list-style: circle;
    padding-left: 18px;
}

.projects a.title {
    text-decoration: none;
    font-size: 1.17em;
    font-weight: 600;
}

hr {
    width: 100%;
    background: var(--text-color);
    height: 1px;
    border: 0;
    outline: 0;
}

.projects .description a,
blockquote.twitter-tweet a,
h3 a {
    text-decoration: none;
}

h3,
p:not(:has(img)) {
    align-self: flex-start;
}



pre {
    max-width: 100%;
    box-sizing: border-box;
}

p img,
:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    border: 1px solid transparent;
    max-width: 100%;
    border-radius: 0.3rem;
    transition-duration: 0.5s;
}

p img:hover,
:not(pre)>code[class*="language-"]:hover,
pre[class*="language-"]:hover {
    box-shadow: var(--shadow) 0px 0px 32px 0px;
    border: 1px solid var(--shadow);
    transition-duration: 0.5s;
}


/* twitter */

blockquote.twitter-tweet {
    padding: 16px 40px 32px 32px;
    border-radius: 0.3rem;
    border: 1px solid var(--text-color);
    position: relative;
    margin: 1em 0;
}

blockquote.twitter-tweet a {
    color: var(--twitter);
}

blockquote.twitter-tweet::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' style='fill: %231d9bf0'%3E%3Cg%3E%3Cpath d='M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
}