:root {
    --accent: #222222;
    --shadow: #fafafa;
    --twitter: #1d9bf0;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size: 0.825rem;
    --bg: white;
    --text-color: #222222;
}

@media (prefers-color-scheme: light) {
    html {
        cursor: url('data:image/svg+xml,<svg width="4.9440918mm" height="8.4666672mm" viewBox="0 0 4.9440918 8.4666672" version="1.1" id="svg1688" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1685" /><g id="layer1"><path style="fill:none;stroke:%23000000;stroke-width:0.309761;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.24522777,0.19807071 C 0.39267884,-0.34739445 3.9378818,4.4246308 4.3639043,4.8506498 6.0370295,6.523775 2.2282948,4.2962525 2.2282948,4.6218313 c 0,0.9497905 1.3168189,2.7816562 0.9152592,3.5847739 C 2.7375704,9.018576 2.1733118,5.0357124 1.3893038,4.7743799 1.2242941,4.7193995 0.46429387,7.8962822 0.39314433,6.7890334 0.32199479,5.6817846 7.9603689e-4,1.1023048 0.24522777,0.19807071 Z" id="path1907" /></g></svg>'), auto;
    }

    aside a:after {
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: -5px;
        width: 100%;
        background-repeat: repeat-x;
        background-image: url('data:image/svg+xml,<svg width="120" height="3" viewBox="0 0 31.749998 0.79375" version="1.1" id="svg13255" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs13252" /><g id="layer1" transform="translate(0.01322916,0.01322916)"><path style="fill:none;stroke:%23000000;stroke-width:0.15;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="m -0.01322916,0.41671876 c 0,0 3.01152096,-0.26553119 6.61656566,-0.27632989 C 10.208381,0.12959017 17.410774,0.65563365 21.60178,0.67678503 25.792786,0.69793641 31.736771,0.41671876 31.736771,0.41671876" id="path23703" /></g></svg>');
    }

    a {
        cursor: url('data:image/svg+xml,<svg width="4.9440918mm" height="8.4666672mm" viewBox="0 0 4.9440918 8.4666672" version="1.1" id="svg1688" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1685" /><g id="layer1"><path style="fill:none;stroke:%23000000;stroke-width:0.309761;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.24522777,0.19807071 C 0.39267884,-0.34739445 3.9378818,4.4246308 4.3639043,4.8506498 6.0370295,6.523775 2.2282948,4.2962525 2.2282948,4.6218313 c 0,0.9497905 1.3168189,2.7816562 0.9152592,3.5847739 C 2.7375704,9.018576 2.1733118,5.0357124 1.3893038,4.7743799 1.2242941,4.7193995 0.46429387,7.8962822 0.39314433,6.7890334 0.32199479,5.6817846 7.9603689e-4,1.1023048 0.24522777,0.19807071 Z" id="path1907" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 2.6711888,1.5888968 C 3.1452928,1.3355027 3.1691372,1.0333338 3.1470903,0.62174224 3.3875149,0.98730271 3.6785519,1.202892 4.1756516,1.1129953 3.5806524,1.3374522 3.7339745,1.7064873 3.6613711,2.1338808 3.4110239,1.5996914 3.1981211,1.4488836 2.6711888,1.5888968 Z" id="path7371" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 3.4797122,6.1516247 C 3.985973,6.3324094 4.0520718,6.4346589 4.342042,6.1417238 4.2329185,6.5654342 4.2417255,6.6435989 4.6423695,6.9512901 4.0762895,6.6615344 4.1448717,6.7516983 3.7795906,6.9851638 4.0069167,6.4407789 3.9375167,6.4477266 3.4797122,6.1516247 Z" id="path7371-0" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.99338146,7.3245157 C 1.5231983,7.2552466 1.3152186,7.245595 1.4240742,6.8480473 1.5369707,7.2707682 1.3638207,7.283779 1.853053,7.4257665 1.2176321,7.4511659 1.5455192,7.4543679 1.3418589,7.8370675 1.272716,7.2511909 1.4887332,7.6183168 0.99338146,7.3245157 Z" id="path7371-1" /></g></svg>'), pointer;
    }

    :root {
        --bg: white;
        --text-color: black;
    }

    @media (orientation: portrait) {
        .item:not(:last-of-type):after {
            content: '';
            width: 100%;
            height: 3px;
            margin-bottom: 48px;
            margin-top: 32px;
            background-image: url('data:image/svg+xml,<svg width="120" height="3" viewBox="0 0 31.749998 0.79375" version="1.1" id="svg13255" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs13252" /><g id="layer1" transform="translate(0.01322916,0.01322916)"><path style="fill:none;stroke:%23000000;stroke-width:0.15;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="m -0.01322916,0.41671876 c 0,0 3.01152096,-0.26553119 6.61656566,-0.27632989 C 10.208381,0.12959017 17.410774,0.65563365 21.60178,0.67678503 25.792786,0.69793641 31.736771,0.41671876 31.736771,0.41671876" id="path23703" /></g></svg>');
            display: block;
            background-repeat: repeat-x;
            background-size: auto;
        }
    }
}

@media (prefers-color-scheme: dark) {
    html {
        cursor: url('data:image/svg+xml,<svg width="4.9440918mm" height="8.4666672mm" viewBox="0 0 4.9440918 8.4666672" version="1.1" id="svg1688" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1685" /><g id="layer1"><path style="fill:none;stroke:%23ffffff;stroke-width:0.309761;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.24522777,0.19807071 C 0.39267884,-0.34739445 3.9378818,4.4246308 4.3639043,4.8506498 6.0370295,6.523775 2.2282948,4.2962525 2.2282948,4.6218313 c 0,0.9497905 1.3168189,2.7816562 0.9152592,3.5847739 C 2.7375704,9.018576 2.1733118,5.0357124 1.3893038,4.7743799 1.2242941,4.7193995 0.46429387,7.8962822 0.39314433,6.7890334 0.32199479,5.6817846 7.9603689e-4,1.1023048 0.24522777,0.19807071 Z" id="path1907" /></g></svg>'), auto;
    }

    :root {
        --bg: #202020;
        --text-color: white;
    }

    aside a:after {
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: -5px;
        width: 100%;
        background-repeat: repeat-x;
        background-image: url('data:image/svg+xml,<svg width="120" height="3" viewBox="0 0 31.749998 0.79375" version="1.1" id="svg13255" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs13252" /><g id="layer1" transform="translate(0.01322916,0.01322916)"><path style="fill:none;stroke:%23ffffff;stroke-width:0.15;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="m -0.01322916,0.41671876 c 0,0 3.01152096,-0.26553119 6.61656566,-0.27632989 C 10.208381,0.12959017 17.410774,0.65563365 21.60178,0.67678503 25.792786,0.69793641 31.736771,0.41671876 31.736771,0.41671876" id="path23703" /></g></svg>');
    }

    a {
        color: white !important;
        cursor: url('data:image/svg+xml,<svg width="4.9440918mm" height="8.4666672mm" viewBox="0 0 4.9440918 8.4666672" version="1.1" id="svg1688" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1685" /><g id="layer1"><path style="fill:none;stroke:%23ffffff;stroke-width:0.309761;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.24522777,0.19807071 C 0.39267884,-0.34739445 3.9378818,4.4246308 4.3639043,4.8506498 6.0370295,6.523775 2.2282948,4.2962525 2.2282948,4.6218313 c 0,0.9497905 1.3168189,2.7816562 0.9152592,3.5847739 C 2.7375704,9.018576 2.1733118,5.0357124 1.3893038,4.7743799 1.2242941,4.7193995 0.46429387,7.8962822 0.39314433,6.7890334 0.32199479,5.6817846 7.9603689e-4,1.1023048 0.24522777,0.19807071 Z" id="path1907" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 2.6711888,1.5888968 C 3.1452928,1.3355027 3.1691372,1.0333338 3.1470903,0.62174224 3.3875149,0.98730271 3.6785519,1.202892 4.1756516,1.1129953 3.5806524,1.3374522 3.7339745,1.7064873 3.6613711,2.1338808 3.4110239,1.5996914 3.1981211,1.4488836 2.6711888,1.5888968 Z" id="path7371" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 3.4797122,6.1516247 C 3.985973,6.3324094 4.0520718,6.4346589 4.342042,6.1417238 4.2329185,6.5654342 4.2417255,6.6435989 4.6423695,6.9512901 4.0762895,6.6615344 4.1448717,6.7516983 3.7795906,6.9851638 4.0069167,6.4407789 3.9375167,6.4477266 3.4797122,6.1516247 Z" id="path7371-0" /><path style="fill:none;stroke:%23ffcc00;stroke-width:0.309827;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="M 0.99338146,7.3245157 C 1.5231983,7.2552466 1.3152186,7.245595 1.4240742,6.8480473 1.5369707,7.2707682 1.3638207,7.283779 1.853053,7.4257665 1.2176321,7.4511659 1.5455192,7.4543679 1.3418589,7.8370675 1.272716,7.2511909 1.4887332,7.6183168 0.99338146,7.3245157 Z" id="path7371-1" /></g></svg>'), pointer;
    }

    .flower {
        filter: invert(1);
    }

    @media(orientation: portrait) {

        .item:not(:last-of-type):after {
            content: '';
            width: 100%;
            height: 3px;
            margin-bottom: 48px;
            margin-top: 32px;
            background-image: url('data:image/svg+xml,<svg width="120" height="3" viewBox="0 0 31.749998 0.79375" version="1.1" id="svg13255" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs13252" /><g id="layer1" transform="translate(0.01322916,0.01322916)"><path style="fill:none;stroke:%23ffffff;stroke-width:0.15;stroke-linecap:butt;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers stroke fill" d="m -0.01322916,0.41671876 c 0,0 3.01152096,-0.26553119 6.61656566,-0.27632989 C 10.208381,0.12959017 17.410774,0.65563365 21.60178,0.67678503 25.792786,0.69793641 31.736771,0.41671876 31.736771,0.41671876" id="path23703" /></g></svg>');
            display: block;
            background-repeat: repeat-x;
            background-size: auto;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::selection {
    color: var(--text-color);
    background: #f3eab9;
}

code span::selection, code::selection, pre::selection {
    color: #2e3440;
    background: #f3eab9;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg);
    line-height: 1.7;
    animation: fadeIn 1s;
    display: flex;
    word-break: break-word;
    align-items: flex-start;
    -webkit-font-smoothing: antialiased
}

main {
    flex: 2;
}

main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

main ul li {
    margin-bottom: 0.5lh;
}

aside ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--accent);
    position: relative;
}

main:not(:has(.item)) p a {
    text-decoration: underline !important;
}

main:not(:has(.item)) a:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: none !important;
}

.date {
    margin-bottom: 0;
    font-size: 0.75rem;
}

pre,
code,
.date {
    font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", monospace;
}

pre {
    counter-reset: lineNumber;
}

code .highlight-line:before {
    -webkit-user-select: none;
    color: #93a1a1;
    content: counter(lineNumber);
    counter-increment: lineNumber;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin-right: 1.2em;
    padding-right: 1.2em;
    text-align: right;
    width: 2.4em;
}

@media (orientation: landscape) {
    .flower {
        position: fixed;
        bottom: 24px;
        left: 24px;
        width: 150px;
        height: 407px;
    }

    body {
        width: 66vw;
        padding-top: 7rem;
        padding-bottom: 2rem;
        flex-direction: row;
        gap: 64px;
        margin: 0px calc(50vw - 2 * (66vw - 64px) / 3 - 64px);
    }

    aside {
        flex: 1;
        position: sticky;
        top: 35dvh;
        text-align: right;
    }

    .navbar ul {
        padding: 0 20px;
    }

    .item {
        min-width: calc(50% - 8px);
        padding: 16px;
    }

    .projects {
        gap: 16px;

    }
}

@media (orientation: portrait) {
    .flower {
        height: 200px;
        display: none;
        flex: 1;
        justify-content: center;
    }

    .bio {
        flex: 3;
    }

    body {
        width: 85vw;
        padding: 4rem 0;
        flex-direction: column;
        margin: 0px auto;
    }

    main {
        width: 100%;
    }

    aside {
        display: flex;
        align-items: center;
    }

    aside ul {
        display: flex;
        gap: 16px;
        padding: 0;
    }

    .navbar {
        padding: 0 calc((100vw - 85vw) / 2);
    }

    .item {
        min-width: 100%;
    }
}


.navbar {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 9999;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-weight: 600;
    gap: 20px;
    padding: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    box-sizing: border-box;
}

.demo {
    width: 100%;
    border-radius: 3px;
    aspect-ratio: 1.7;
    object-fit: cover;
}

ul {
    list-style: circle;
    padding-left: 18px;
}

.projects a.title {
    text-decoration: none;
    font-size: 1.17em;
    font-weight: 600;
}

hr {
    width: 100%;
    background: var(--text-color);
    height: 1px;
    border: 0;
    outline: 0;
}

h3 {
    font-weight: 600;
}

h3,
p:not(:has(img)) {
    align-self: flex-start;
}



pre {
    max-width: 100%;
    box-sizing: border-box;
}

p img,
:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    border: 1px solid transparent;
    max-width: 100%;
    border-radius: 0.3rem;
    transition-duration: 0.5s;
}

p img:hover,
:not(pre)>code[class*="language-"]:hover,
pre[class*="language-"]:hover {
    box-shadow: var(--shadow) 0px 0px 32px 0px;
    border: 1px solid var(--shadow);
    transition-duration: 0.5s;
}


/* twitter */

blockquote.twitter-tweet {
    padding: 16px 40px 32px 32px;
    border-radius: 0.3rem;
    border: 1px solid var(--text-color);
    position: relative;
    margin: 1em 0;
}

blockquote.twitter-tweet a {
    color: var(--twitter);
}

blockquote.twitter-tweet::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' style='fill: %231d9bf0'%3E%3Cg%3E%3Cpath d='M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
}