<footer>
<p>Send me a letter: <span>nonnullish@sometimes<b style="display: none;">.goawaybots</b>.digital</span>.</p>
<div class="columns">
<nav class="links">
<!-- <a {% if (page.url === '/about/') %} data-active {% endif %} href="/about">About</a> -->
<a {% if (page.url === '/feed.xml') %} data-active {% endif %} href="/feed.xml">RSS</a>
<!-- <a {% if (page.url === '/colophon/') %} data-active {% endif %} href="/colophon">Colophon</a> -->
<a {% if (page.url === '/blogroll/') %} data-active {% endif %} href="/blogroll">Blogroll</a>
<a {% if (page.url === '/search/') %} data-active {% endif %} href="/search">Search</a>
<a href="https://elk.zone/indieweb.social/@nonnullish">Mastodon</a>
<a href="https://github.com/nonnullish">GitHub</a>
</nav>
<a href="/"><img src="/assets/icons/flower.svg"/></a>
</div>
</footer>