<header>
  <nav class="links">
    <ul>
      <!-- under construction, evidently -->
      <!-- <li><a {% if (page.url === '/about/') %} data-active {% endif %} href="/about">About</a></li> -->
      <!-- <li><a {% if (page.url === '/posts/') %} data-active {% endif %} href="/posts">Posts</a></li> -->
      <!-- <li><a {% if (page.url === '/projects/') %} data-active {% endif %} href="/projects">Projects</a></li> -->
      <li><a {% if (page.url === '/weeknotes/') %} data-active {% endif %} href="/weeknotes">Notes from Last Week</a></li>
    </ul>
  </nav>
</header>