<footer>
  <p>Send me a letter: <span>nonnullish@sometimes<b style="display: none;">.goawaybots</b>.digital</span>.</p>
  <div class="columns">
    <nav class="links">
      {% link "/feed.xml/", "RSS" %}
   {# {% link "/blogroll/", "Blogroll" %} #}
      {% link "/search/", "Search" %}
      {% link "/photos/", "Photos" %}
      <a href="https://indieweb.social/@nonnullish" rel="me">Mastodon</a>
      <a href="https://github.com/nonnullish">GitHub</a>
    </nav>
    <a aria-label="Link to the main page" href="/">
      <svg id="flower" width="14mm" height="14mm" viewBox="0 0 14 14" version="1.1" xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g transform="translate(-122.80203,-134.23038)">
          <path style="fill:none;stroke:#000000;stroke-width:0.35;stroke-linecap:round;stroke-linejoin:round;"
            d="m 126.93575,147.21964 c 0,0 -1.67905,0.58121 -1.19471,-3.32582 0.48434,-3.90703 2.22797,-7.6849 3.19665,-8.55671 0.96869,-0.87182 -0.22602,2.97063 -2.19568,8.00779 0,0 3.9716,-7.42657 4.45595,-6.26416 0.2044,0.49056 -0.43808,1.49846 -1.08109,2.593 -0.88065,1.49907 -1.88954,3.08995 -1.88954,3.08995 0,0 5.48921,-6.7485 5.71524,-5.42463 0.22602,1.32387 -4.22992,7.29742 -6.42561,8.94418" />
        </g>
      </svg>
    </a>
  </div>
  <script>
    const callback = (entries, observer) => {
      entries.forEach(entry => {
        entry.target.classList.add('show');
      });
    }

    const observer = new IntersectionObserver(callback, { threshold: 1 });
    observer.observe(document.querySelector('#flower'));
  </script>
</footer>