<header>
  <nav class="links">
    <ul>
      <li>{% link "/posts/", "Posts" %}</li>
      <li>{% link "/projects/", "Projects" %}</li>
      <li>{% link "/weeknotes/", "Notes from Last Week" %}</li>
    </ul>
  </nav>
</header>