<header>
  <nav class="links">
    <ul>
      <li><a {% if (page.url === '/posts/') %} data-active {% endif %} href="/posts">Posts</a></li>
      <li><a {% if (page.url === '/projects/') %} data-active {% endif %} href="/projects">Projects</a></li>
      <li><a {% if (page.url === '/weeknotes/') %} data-active {% endif %} href="/weeknotes">Notes from Last Week</a></li>
    </ul>
  </nav>
</header>