<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/prism.css" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
    <title>sometimes.digital / {{ title | lower }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.85" />
    <meta property="og:image" content="{{ title | previews }}" />
    <script data-goatcounter="https://usuallyanalog.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>

  <body>
    <header>
      <nav class="links">
        <ul>
          <li><a href="/">all</a></li>
          <li><a href="/posts">posts</a></li>
          <li><a href="/projects">projects</a></li>
          <li><a href="/weeknotes">weeknotes</a></li>
        </ul>
        <div class="icons">
          <a class="i" href="/contact" title="Contact" style="background-image: url('/assets/icons/contact.svg');"></a>
          <a class="i" href="/feed.xml" title="RSS" style="background-image: url('/assets/icons/rss.svg'); margin-right: -3px;"></a>
          <a class="i" href="/search" title="Search" style="background-image: url('/assets/icons/search.svg');"></a>
        </div>
      </nav>
    </header>
    <main>
      {% if home %}
         {{ content | safe }}
      {% else %}
        <article data-pagefind-body>
          <hgroup>
            {% if date %}<p><time>Last updated: {{ date | readableDate }}</time></p>{% endif %}
            <h2><a href="{{ url }}">{{ title }}</a></h2>
          </hgroup>

          {{ content | smartquotes | safe }}
        </article>
      {% endif %}
    </main>
    {% if not home %}
      <footer>
      </footer>
    {% endif %}
  </body>
</html>
