<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/prism-nord.css" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="WvF6xYa7L0uAA-w7Am4eQIcgKaefLC2KmVaRu97V9kc" />
    <meta property="og:image" content="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}preview{% endif %}.png" />
    <meta property="og:image:secure_url" content="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}preview{% endif %}.png" />
  </head>

  <body>
    <main>
      <header>
        <div class="links">
          <ul>
            <li><a href="/">all</a></li>
            <li><a href="/posts">posts</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/weeknotes">weeknotes</a></li>
          </ul>
          <div class="icons">
            <a href="https://github.com/nonnullish" title="GitHub"><i style="background-image: url('/github.svg'); padding-top: 6px"></i></a>
            <a href="https://elk.zone/indieweb.social/@nonnullish" title="Mastodon"><i style="background-image: url('/mastodon.svg')"></i></a>
            <a href="/feed.xml" title="RSS"><i style="background-image: url('/rss.svg')"></i></a>
          </div>
        </div>
      </header>
      <article>
        {% if not home %}
          <hgroup>
            {% if date %}<p><time>{{ date | readableDate }}</time></p>{% endif %}
            <h2><a href="{{ url }}">{{ title }}</a></h2>
          </hgroup>
        {% endif %}

        {{ content | smartquotes | previews | safe }}

        {% if comments %}
        <script
          src="https://giscus.app/client.js"
          data-repo="nonnullish/nonnullish"
          data-repo-id="R_kgDOI892JQ"
          data-category="General"
          data-category-id="DIC_kwDOI892Jc4CYfOT"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async
        ></script>
        {% endif %}
      </article>
    </main>
  </body>
</html>
