<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
    <link rel="alternate" type="application/atom+xml" title="sometimes.digital / rss feed" href="/feed.xml" />
    <title>sometimes.digital / {{ title | lower }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="view-transition" content="same-origin" />
  </head>

  <body>
    {% include "../sections/header.njk" %}
    {{ content | safe }}
  </body>
</html>
