---
layout: layouts/article
---
<hgroup>
  {% if date %}<p><time>Last updated: {{ date | readableDate }}</time></p>{% endif %}
  <h2><a href="{{ url }}">{{ title }}</a></h2>
</hgroup>

{{ content | safe }}