---
layout: layouts/article
---
<hgroup>
  {% if date %}<p><time>Last updated: {{ date | readableDate }}</time></p>{% endif %}
  <h3><a href="{{ url }}">{{ title }}</a></h3>
</hgroup>

{{ content | safe }}