<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<icon>https://sometimes.digital/assets/images/favicon.png</icon>
	<logo>https://sometimes.digital/assets/images/favicon.png</logo>
  <title>sometimes.digital - personal website</title>
  <subtitle>sometimes.digital - personal website</subtitle>
  <link href="https://sometimes.digital{{ page.url }}" rel="self" />
  <updated>{{ '' | now | dateToRfc3339 }}</updated>
  <id>https://sometimes.digital</id>
  <author>
    <name>dominika</name>
    <email>dominika@sometimes.digital</email>
  </author> 
  {{ content | safe }}
</feed>