@media only screen and (max-width: calc(768px + 8ch)) {
  .highlight-line {
    margin-left: 0 !important;
  }

  pre {
    overflow-x: auto;
  }
}

@media only screen and (min-width: calc(768px + 8ch)) {
  pre {
    padding-left: 4ch;
    margin-left: -4ch;
    width: calc(100% + 8ch);
  }
}

.token.keyword {
	font-style: italic;
}

pre {
  code {
    --counter-width: 3ch;

    counter-reset: line;
    line-height: 1;

    .highlight-line {
      margin: 0;
      margin-left: calc(-1 * var(--counter-width) - 0.5ch);

      &::before {
        counter-increment: line;
        content: counter(line);
        user-select: none;
        font-size: 0.7em;
        color: grey;
        text-align: right;
        display: inline-block;
        padding-right: 2ch;
        width: var(--counter-width);
        vertical-align: middle;
      }
    }
  }
}