---
permalink: /assets/styles/rss-style.xsl
---
<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet
  version="3.0"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
  xmlns:atom="http://www.w3.org/2005/Atom"
>
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes" />
  <xsl:template match="/">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
      <head>
        <title>sometimes.digital / rss feed</title>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png" />
      </head>

      <body>
        {% include "_includes/sections/header.njk" %}
        <main>
          <article>
            <p>This page is an RSS feed. You should be able to put the URL in your RSS reader and get updates on all my posts. There are also separate feeds for weeknotes and posts exclusively.</p>
            <ul>
              <xsl:for-each select="/atom:feed/atom:entry">
                <li>
                  <a style="text-decoration: none">
                    <xsl:attribute name="href">
                      <xsl:value-of select="atom:link/@href" />
                    </xsl:attribute>
                    <xsl:value-of select="atom:title" />
                  </a>
                  <span style="opacity: 0.5">
                    (<xsl:value-of select="substring(atom:updated, 0, 11)"/>)
                  </span>
                </li>
              </xsl:for-each>
            </ul>
          </article>
        </main>
        {% include "_includes/sections/footer.njk" %}
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>
